p {
    font-size: 200px;

}

/* "#" é a tag que chama  */
/* se o id no html estiver em minúsculo, também tem que tar aqui */
#quadrado {
    height: 200px;
    width: 200px;
    background-color: plum;
}

#container {
    background-color: orangered;

    /* O CSS enxerga os elementos do HTML como caixas e dependendo do elemento, ele pode ocupar a tela inteira, ou apenas a área que utiliza.
    Como o CSS serve para manipular visualmente os elementos do HTML, podemos forçar uma caixa rigida a se tornar flexível para organizar os conteúdos que estão nela. */

    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img {
    width: 1000px;
    height: 300px;
}
